.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 700px;
    position: relative;
    /* overflow: hidden; */
}

.logo{
    font-size: 30px;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}

.theme-text{
    font-size: smaller;
}

.theme-buttons-wrapper{
    background-color: var(--toggle-background);
    padding: 5px;
    height: 30px;
    width: 110px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.theme-button{
    display: flex;
    position: relative;
    width: 18px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.active-theme{
    background-color: var(--toggle);
}

.theme-button-label{
    position: absolute;
    top: -25px;
    font-weight: 700;
    color: var(--text-color);
    visibility: visible;
    font-style: italic;
}

ion-icon {
    font-size: 25px;
    color: var(--text-color);
    --ionicon-stroke-width: 40px;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 2;
    right: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    padding: 20px;
    background-color: var(--screen-background);
    display: block;
    transition: 350ms;
}

.sidebar h3{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-history, .open-history{
    background-color: transparent;
    border: none;
}

.sidebar p{
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    padding-block: 10px;
    font-weight: 400;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    align-items: center;
}

.sidebar p:last-child{
    border-bottom: none;
}

@media screen and (min-width: 1366px) {
    
    .open-history {
        display: none;
    }
    
    .logo{
        font-size: 40px;
    }

        
    .sidebar{
        right: 0;
        display: block;
    }

    .close-history{
        display: none;
    }

}

